Results for <a href="{{result.url}}">{{result.url}}</a>
<div class="timestamp">Fetched on {{result.timestamp|to_time}}</div> <br>
{% if result.scripts %}
We did found {{result.scripts | length}} usage(s) of canvas fingerprinting provided by the following script(s):
{% for script in result.scripts %}
<div class="script"><a href="{{script.url}}">{{script.url}}</a>

    <div class="report">
        <div class="location">line {{script.line}}; char {{script.char}}</div>
        <div class="excerpt">{{script.excerpt|highlight}}</div>
        <div class="verdict">Verdict: {% if script.obfuscated %}Obfuscated{% else %}Not obfuscated{% endif %}</div>
    </div>
</div>
{% endfor %}
{% else %}
We didn't found any usage of canvas fingerprinting on {{result.url}}
{% endif %}
<div class="screencap"><img src="{{result.capture}}"></div>
